.card-1 {
  border-top: 5px solid #ff4f64;
  border-radius: 8px;
  width: 300px;
  margin: 10px;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}
.card-3 {
  border-top: 5px solid #44c4a1;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}

.card-4 {
  border-top: 5px solid #fcc200;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}

/* Write CSS code here. */

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.image {
  align-self: flex-end;
}
